@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Neucha&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;       
    width: 55%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4.9%;
    background-color: rgba(19, 17, 17, 0.712);
    border-radius: 3rem 0rem 0rem 0rem;
}

#logo { 
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 65px; 
    width: 200px;
    border-radius: 60px; 
    left: 0;   
    top: 0;
    z-index: 100;
    margin-top: -3px;
}

.navbar {
    display: flex;
    justify-content: right;
    align-items: flex-end;    
    height: 3.8rem;
    
}

.menu {
    display: flex;
    font-family: 'Nanum Gothic Coding', monospace;    
}

.menu li {
    list-style: none;
}

.menu li a {
    color: white; text-shadow: 0 0 0.2em rgba(255, 0, 0, 0.644);
    text-decoration: none;
    font-weight: bold; 
    background-color: rgba(0, 0, 0, 0.486);
    padding: 22.5px; 
    /* border-radius: 1rem;  */
    display: flex;
    
}

.menu li a:hover {
    background: rgba(211, 18, 18, 0.432);    
}

body {
    background-image: url("../images/fondo_body.jpg");
    background-size: cover;
    background-attachment: fixed;    
    
}

#container_c { /*Container de Conctacto*/
    background-image: url("../images/soporte.jpg");
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 55%;
    height: 70%;     
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8%;
    overflow: hidden;
    color: white; text-shadow: 0 0 0.2em black, 0 0 0.2em rgb(189, 38, 38);
    font-family: 'Nanum Gothic Coding', monospace;   
    font-size: 1.5rem;
}

#container_c a { /*Links*/
    color: white;

}

#contact_text {
    margin-left: 2.5rem;
    margin-top: 2rem;    
    
}

#contact_form {
    margin-left: 2.5rem;
    margin-top: 2rem;
}

#left {    
    width: 50%;
    position: absolute;
    float: left;       
    bottom: 2.5rem;      
}

#right {    
    width: 50%;
    position: absolute;    
    bottom: 2.5rem;
    right: 0;    

}

#messaje {
    width: 30rem;
    height: 5.7rem;
}

#contact_form h2 {
    position: relative;
    margin-bottom: 1rem;
    
}

footer {
    background-color: rgba(255, 255, 255, 0.582);
    font-family: 'Nanum Gothic Coding', monospace;
    position: absolute; 
    color: black;       
    width: 100%;
    height: 2.2rem;       
    bottom: 0;
    text-align: center;
    align-items: center;       
}