@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Neucha&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;   
    background-color: rgb(212, 44, 44);
    height: 3.5rem;
    width: 55%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;       
 
}

#logo { /*Logo de la barra de navegación*/
    float: left;
    display: block;    
    height: 61px; 
    width: 200px;
    margin: none;
    background-color: rgb(223, 217, 217);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    
}

body {
    background-image: url("../images/fondo_body.jpg");
    background-size: cover;
    background-attachment: fixed;    
    
}

#container_f { /*Container de Preguntas*/
    background-color: gray;
    background-image: url("../images/preg_frec2.jpg");
    background-repeat: no-repeat;
    position: absolute;
    width: 55%;
    height: 70%;     
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8%;
    overflow: hidden;
    color: aliceblue;
}

#container_f h1 {
    text-align: center;
    font-size: 3rem;
    color: white; text-shadow: 0 0 0.2em red, 0 0 0.2em black ;
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 1.5%;    
}

#container_f h3 {
    text-align: start;
    font-size: 2.5rem;
    color: white; text-shadow: 0 0 0.2em red, 0 0 0.2em black ;
    font-family: 'Nanum Gothic Coding', monospace;    
}

#container_f p {
    text-align: start;
    font-size: 2rem;
    color: white; text-shadow: 0 0 0.2em black, 0 0 0.2em rgb(189, 38, 38);
    font-family: 'Nanum Gothic Coding', monospace;    
}

footer {
    background-color: rgba(255, 255, 255, 0.582);
    position: absolute; 
    color: black;       
    width: 100%;
    height: 2.2rem;       
    bottom: 0;
    text-align: center;
    align-items: center;       
}